.buttonPlaceholder {
    margin: 10px 10px 10px;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.750);
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: 10px;
}

.buttonRow {
    display: flex;
    justify-content: space-between
}